<div class="modal-header" style="padding:14px 14px;background: #f2f2f1;border-bottom:0;">
  <h5 class="modal-title">
    <span class="modal_name">添加服务</span>
    <a ng-click="cancel()" href="" class="modal-close" style="margin-top: 4px;">
    </a>
  </h5>
</div>
<form name="frm">
  <div class="modal-body">
    <ul class="sv-wrop" ng-show="svList">
      <li class="sv-list" ng-class="{'svActive':svActive == $index}" ng-repeat="item in data"
          ng-click="checkSv(item.metadata.name,$index)">
        <img src="./images/serviceList/{{item.metadata.name | lowerCase}}.png">
        <div class="sv-name">{{item.metadata.name}}</div>
      </li>
    </ul>
    <div ng-show="!svList">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label class="control-label">{{instancesList.name}}<i class="modal_red">*</i></label>
          </div>
          <div class="col-md-6">
            <input type="text"
                   name="bsiname"
                   onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                   ng-pattern="/^[a-zA-Z0-9]{1,28}$/"
                   class="form-control"
                   ng-model="bsiname"
                   required>
          </div>
          <div class="col-md-3">
            <div class="error_block_tit" ng-if="frm.bsiname.$dirty && frm.bsiname.$invalid">
              <p style="margin:0;">{{instancesList.name}}不合法</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-repeat="item in instancesList.keys">
        <div class="row" ng-if="instancesList[item].type === 'inputGroup'">
          <div class="col-md-3">
            <label class="control-label">{{instancesList[item].name}}<i class="modal_red">*</i></label>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="instancesList[item].value" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  {{instancesList[item].unit}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-repeat="unit in instancesList[item].typeInputs"><a href="" ng-click="changeUnit(instancesList[item], unit)">{{unit}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="!!instancesList[item].type=== false">
          <div class="col-md-3">
            <label class="control-label">{{instancesList[item].name}}<i class="modal_red">*</i></label>
          </div>
          <div class="col-md-6">
            <input type="text" name="bsiurl_{{$index}}"
                   ng-pattern="/^[a-zA-Z0-9\/\.\:]{1,28}$/"
                   class="form-control"
                   ng-model="instancesList[item].value"
                   required>
          </div>
          <div class="col-md-3">
            <div class="error_block_tit" ng-if="frm.bsiurl.$dirty && frm['bsiurl_' + $index].$invalid">
              <p style="margin:0;">{{instancesList[item].name}}不合法</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label class="control-label">{{instancesList.planName}}<i class="modal_red">*</i></label>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input ng-model="data[svActive].spec.plans[planIdIndex].name" type="text" class="form-control">
              <div class="input-group-btn">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="(index, plan) in data[svActive].spec.plans"><a href="" ng-click="changePlan(index)">{{plan.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-repeat="item in planCustomizes">
        <div class="row">
          <div class="col-md-3">
            <label class="control-label" uib-tooltip="{{item.customizeValue.desc}} 单位: {{item.customizeValue.unit}}">{{item.name}}<i class="modal_red">*</i></label>
          </div>
          <div class="col-md-6">
            <input type="text"
                   onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                   ng-pattern="/^[a-zA-Z0-9]{1,28}$/"
                   class="form-control"
                   ng-model="item.value"
                   required>
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="svName.toLocaleLowerCase() === 'storm'">
        <label style="margin-bottom: 30px; margin-left: 10px;">
          <input type="checkbox" ng-model="stormConfig.stormEnable" ng-true-value="1" ng-false-value="0"> 配置Kerberos
        </label>
        <div ng-if="!!stormConfig.stormEnable">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-3">
              <label class="control-label">连接kafka的servicename<i class="modal_red">*</i></label>
            </div>
            <div class="col-md-6">
              <input type="text"
                     onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                     ng-pattern="/^[a-zA-Z0-9@\-\.]{1,28}$/"
                     class="form-control"
                     ng-model="stormConfig.name"
                     required>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-3">
              <label class="control-label">连接kafka的principal<i class="modal_red">*</i></label>
            </div>
            <div class="col-md-6">
              <input type="text"
                     ng-pattern="/^[a-zA-Z0-9@\-\.]{1,28}$/"
                     class="form-control"
                     ng-model="stormConfig.principal"
                     required>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-3">
              <label class="control-label">连接kafka的keytab文件内容<i class="modal_red">*</i></label>
            </div>
            <div class="col-md-6">
              <input type="file" ngf-select="upload($file, 'keytab')">
              <input type="hidden" ng-model="stormConfig.keytab" required>
            </div>
          </div>
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-3">
              <label class="control-label">kerberos配置文件内容<i class="modal_red">*</i></label>
            </div>
            <div class="col-md-6">
              <input type="file" ngf-select="upload($file, 'krb5conf')">
              <input type="hidden" ng-model="stormConfig.krb5conf" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="text-align: right">
    <span class="btn-error" ng-show="set_use">可用容量不足</span>
    <span class="btn-newst" ng-show="svList" ng-click="nextDiv()">下一步</span>
    <span class="btn-newst" ng-show="!svList" ng-click="nextDiv()">上一步</span>
    <span class="btn-newst" ng-show="!svList" ng-click="frm.$valid && ok()">确认</span>
  </div>
</form>
