<div class="modal-header" style="padding:14px 14px;background: #f2f2f1;border-bottom:0;">
  <h5 class="modal-title">
    <span class="modal_name">添加子租户</span>
    <a ng-click="cancel()" href="javascript:void(0);" class="modal-close" style="margin-top: 4px;">
    </a>
  </h5>
</div>
<form name="frm">
  <div class="modal-body confirm-con" style="max-height: 360px;overflow-y: auto;height: 235px;">

    <div ng-show="!isbs">
      <div class="con-wrop" style="margin-top:0px;">
        <label>租户名<i class="modal_red">*</i></label>
        <div class="confirm-select modal_select" ng-class="{modal_select_red:error.namenull}">
          <input type="text" name="username"
                 onkeypress="if((event.keyCode > 31 && event.keyCode < 44) || (event.keyCode > 46 && event.keyCode < 48) || (event.keyCode > 57 && event.keyCode < 65) || (event.keyCode > 90 && event.keyCode < 97))event.returnValue = false;"
                 ng-pattern="/^[a-zA-Z0-9]{1,28}$/"
                 class="modal_input" ng-model="message.name" required>
        </div>
        <div class="error_block_tit" ng-if="frm.username.$dirty && frm.username.$invalid">
          <p style="margin:0;">租户名不合法</p>
        </div>
      </div>
      <div class="con-wrop">
        <label>租户描述</label>
        <textarea cols="60" ng-model="message.description" rows="5" placeholder="描述内容不多于20个字符..." maxlength="20"
                  ng-model="" style="resize: none;"></textarea>
      </div>
      <div class="con-wrop">
        <label>有效日期</label>
        <input type="text" datetime-picker="yyyy-MM-dd HH:mm:ss" ng-model="message.dueTime" is-open="isOpen" />
        <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="glyphicon glyphicon-calendar"></i></button>
      </div>
    </div>
    <div ng-show="isbs">
      <div class="con-wrop row">
        <div class="col-md-2" style="margin:0;padding:0;"><label>服务限定<i class="modal_red">*</i></label></div>
        <div class="col-md-10" style="margin:0;padding:0;">
          <div class="confirm-select" style="height: auto;margin-bottom:15px;" ng-repeat="(index,item) in changeList">
            <div class="bs-list-title">
              {{index}} <span class="del-bslist" ng-click="delbsList(index,$index)"></span>
            </div>
            <div style="border-top:1px solid #eaeaea;">
              <div ng-repeat="newval in newbsobj[index]" class="row" style="margin:8px 0px;">
                <div class="col-md-7" uib-tooltip={{newval.tool}}>{{newval.key}}</div>
                <div class="col-md-5"><input type="text" ng-model="newval.val" class="bsinput"></div>
              </div>
            </div>

          </div>
          <div class="confirm-select" ng-show="bslength>0">
            <div uib-dropdown on-toggle="toggled(open)">
              <a href="javascript:void(0);" class="" uib-dropdown-toggle>
                <span class="select-title" title="选择服务类型">选择服务类型</span>
                <b class="ser_bg_btn"></b>
              </a>
              <ul class="service_drop service_drop_gj" uib-dropdown-menu aria-labelledby="user-menu">
                <li class="zx_active" ng-repeat="(bskey,bsval) in bsList" ng-click="changeBs(bskey,bsval,$index)">
                  <a href="javascript:void(0);">
                    <span class="drop_name_tit two_tab_ellipsis" ng-class="" title="{{bskey}}">{{bskey}}</span>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="text-align: right">
    <span class="btn-error" ng-show="set_use">可用容量不足</span>
    <span class="btn-newst" ng-click="nextDiv()" ng-show="!isbs">下一步</span>
    <span class="btn-newst" ng-click="frm.$valid && ok()" ng-show="isbs">确认</span>

  </div>
</form>
