<div class="modal-header" style="padding:14px 14px;background: #f2f2f1;border-bottom:0;">
  <h5 class="modal-title">

    <span class="modal_name">修改密码</span>
    <a ng-click="cancel()" href="javascript:;" class="modal-close" style="margin-top: 4px;">
    </a>
  </h5>
</div>
<form name="frm">
<div class="modal-body confirm-con" >

    <div class="con-wrop">
      <label>原始密码<i class="modal_red">*</i></label>
      <div class="confirm-select modal_select" ng-class="{modal_select_red:error.passwordnull}">
        <input type="password" class="modal_input" ng-model="input.password">
      </div>
      <div class="error_block_tit" ng-if="error.oldpwd">
        <p style="margin:0;">密码不能为空</p>
      </div>
    </div>
    <div class="con-wrop">
      <label>新密码<i class="modal_red">*</i></label>
      <div class="confirm-select modal_select" ng-class="{modal_select_red:error.passwordnull}">
        <input type="password" class="modal_input" ng-model="input.newpwd">
      </div>
      <div class="error_block_tit" ng-if="error.passwordnull">
        <p style="margin:0;">密码不能为空</p>
      </div>
    </div>


</div>
<div class="modal-footer"   style="text-align: right">
  <span class="btn-newst" ng-click="frm.$valid && ok()">确认</span>
</div>
</form>
