.login{
  width: 100%;
  overflow: hidden;
  .mgt{
    margin-top:30px;
  }
  .err-text{
    color: #f5b041;
  }
  .err-img{
    margin-right:10px;
    margin-top:-2px;
  }
  .login-wrop{
    width: 500px;
    overflow: hidden;
    margin:70px auto 0px;
    .login-title{
      font-size:20px;
      text-align: center;
    }
    .login-con{
      div{
        padding:0px;
      }
      width: 100%;
      border:1px solid #eaeaea;
      background: #fff;
      padding:10px 40px 40px;
      .prompt{
        //font-size: 12px;
        //margin-top:30px;
      }
      .login-input{
        width: 100%;
        border:1px solid #eaeaea;
        background: #f7f7f7;
        margin-top:15px;
        height: 30px;
        padding: 0px 10px;
        line-height:30px;
      }
      .login-input:focus{
        border-color: #f39c12 !important;
      }
      .text-l{
        text-align: left;
      }
      .text-r{
        text-align: right;
      }
      .login-btn{
        width: 100%;
        height: 30px;
        text-align: center;
        background: #f39c12;
        color: #fff;
        line-height:30px;
        font-size:16px;
        font-weight:bold;
        cursor: pointer;
        border: none;
      }
      .login-btn:hover{
        background: #f5b041;
      }
    }
  }
}
