<div class="header">
  <div class="navbar navbar-oc" role="navigation" data-spy="affix">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="navbar-header">
          <a ui-sref="console.tenant" class="navbar-brand logo">
            <img src="./images/logo-white.png" alt="橘云 多租户管控平台" title="橘云 多租户管控平台">
            <font>多租户管控平台</font>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <form class="navbar-form navbar-right">
            <button class="dropdown-toggle btn btn-default-tmp" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span>{{loginname}}</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" ng-click="logout()">退出登陆</a></li>
            </ul>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a ng-click="download()" target="_self">
                <span>下载keytab文件</span>
              </a>
            </li>
            <li ng-repeat="item in naletr" ng-class="{'bdb':item.bdb,'active':idx === $index}"
                ng-click="changeUrl(item.url,$index)"
                ng-mouseover="addBdb($index)"
                ng-mouseleave="removeBdb($index)">
              <a>
                <span>{{item.name}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid view-container">
  <div ui-view></div>
</div>
