<div class="header">
  <div class="navbar navbar-oc" role="navigation" data-spy="affix">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="navbar-header">
          <a ui-sref="console.tenant" class="navbar-brand logo">
            <img src="./images/logo-white.png" alt="橘云 多租户管控平台" title="橘云 多租户管控平台">
            <font>多租户管控平台</font>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid view-container">
  <div ui-view></div>
</div>
