<div class="login">
  <form name="frm">
    <div class="login-wrop">
      <div class="login-title">账户登录</div>
      <div class="login-con mgt">
        <div class="row prompt mgt">
          <div class="col-md-6 text-l">用户名</div>
          <div class="col-md-6 text-r err-text" ng-if="frm.username.$dirty && frm.username.$invalid"><img
            src="../images/tip.png" alt="" class="err-img">用户名不能为空
          </div>
          <div class="col-md-6 text-r err-text" ng-if="loginerr"><img src="../images/tip.png" alt="" class="err-img">账号或密码错误
          </div>
        </div>
        <div><input ng-model="usermessage.username" name="username" type="text" class="login-input mgt" required></div>
        <div class="row prompt mgt">
          <div class="col-md-6 text-l">密码</div>
          <div class="col-md-6 text-r err-text" ng-if="frm.password.$dirty && frm.password.$invalid"><img
            src="../images/tip.png" alt="" class="err-img">密码不能为空
          </div>
        </div>
        <div><input ng-model="usermessage.password" name="password" type="password" class="login-input mgt" required>
        </div>
        <div class="mgt rem-me">
          <span ng-if="!me" class="ta-cd no-me " ng-click="mark(2)"></span>
          <span ng-if="me" class="ta-cd yes-me" ng-click="mark(1)"></span>
          记住用户名
        </div>
        <button class="login-btn mgt" ng-click="frm.$valid && gologin()">登录</button>
      </div>
    </div>
  </form>
</div>
