<div class="login">
    <div class="login-wrop">
      <div class="login-title">账户登录</div>
      <div class="login-con">
        <div class="row">
          <div class="col-md-6">用户名</div>
          <div class="col-md-6">用户名不能为空</div>
        </div>
        <div><input ng-model="usermessage.username" type="text"></div>
        <div class="row">
          <div class="col-md-6">密码</div>
          <div class="col-md-6">密码不能为空</div>
        </div>
        <div><input  ng-model="usermessage.password" type="password"></div>
        <div><input type="checkbox">记住我</div>
        <div ng-click="gologin()">登录</div>
      </div>
    </div>
</div>
