<!--角色管理页面-->
<div class="role_page">
  <div class="set_mange">
    <ul class="role_mange_list">
      <li class="role_li" ng-repeat="item in allRole">
        <div>
          <div class="set_top">
            <img src="images/role_system.png" class="set_top_tu">
          </div>
          <div class="set_bt">
            <p>{{item.id | phaseFilter}}</p>
            <p>{{item.description}}</p>
          </div>
        </div>
        <div class="role_block_h">
          <div class="service_one">
            <p class="serv_tit">角色来源</p>
            <p class="serv_detail">默认</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
