<div class="row nav-tenant col-md-12">
  <!--<div id="tree" class="col-md-3" style="height: 100%; background: #ebebe9;">-->
  <!--</div>-->
  <table>
    <tr>
      <td class="sidebar">
        <div treecontrol class="tree-classic" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)" selected-node="selected">
          {{node.name}}
          <span ng-click="deltenan($event, node)" class="ta-cd del-ten" ng-show="node.parentId"></span>
        </div>
      </td>
      <td class="main">
        <div class="" style="margin:0;padding:0;margin-top:-2px;">
          <div class="right-top">{{grid.roleTitle}}</div>
          <ul class="right-nav">
            <li class="active" ng-show="grid.showCompany" ng-click="changeCon()"><span>子租户列表</span></li>
            <li ng-show="grid.showProject" ng-click="changeCon()"><span>项目列表</span></li>
            <li ng-show="grid.showChildnode" ng-click="changeCon()"><span>基本信息</span></li>
            <li ng-show="bsis.length" ng-click="changeCon()"><span>服务列表</span></li>
            <li ng-show="grid.showbsi" ng-click="changeCon()"><span>资源管理</span></li>
            <li ng-click="changeCon()"><span>资源报告</span></li>
            <li ng-click="changeCon()"><span>资源限定</span></li>
            <li ng-click="changeCon()"><span>用户列表</span></li>
          </ul>
          <ol class="right-content">
            <li class="showcon">
              <div class="user-authorize"><span ng-click="addTenant()">添加子租户</span></div>
              <div class="row project-list">
                <div class="col-md-3" ng-repeat="child in childrens">
                  <div>
                    <img src="./images/user-listicon.png" alt="">
                    <p>{{child.name}}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="user-authorize"><span ng-click="addTenant()">添加子租户</span></div>
              <div class="row project-list">
                <div class="col-md-3" ng-repeat="child in childrens">
                  <div>
                    <img src="./images/user-listicon.png" alt="">
                    <p>{{child.name}}</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <ul class="basic_block">
                <li>
                  <div>租户名称</div>
                  <div>{{nodeIf.name}}</div>
                </li>
                <li>
                  <div>租户描述</div>
                  <div>{{nodeIf.description}}</div>
                </li>
                <li>
                  <div>有效日期</div>
                  <div>{{nodeIf.dueTime}}</div>
                </li>
              </ul>
            </li>
            <li ng-show="bsis.length">
              <ul class="tenant-serve-list">
                <li class="row" ng-repeat="bsi in bsisitem">
                  <div class="col-md-1 lscn"><img src="./images/serviceimg/{{bsi.serviceType | lowerCase}}.png"
                                                  onerror="javascript:this.src='./images/serviceimg/default.png'"
                                                  alt=""></div>
                  <div class="col-md-3 lscn" uib-tooltip="{{bsi.instanceName}}"><span>服务名</span>&nbsp;&nbsp;{{bsi.instanceName}}
                  </div>
                  <!--<div class="col-md-3"><span>用户容量</span>&nbsp;&nbsp;路径&nbsp;:&nbsp;/usr/zhongxin/balbala;</div>-->
                  <div class="col-md-6"
                       style="line-height: 17px;margin-top:12px;color: #999;overflow: hidden;text-overflow:ellipsis;">
                    <!--<p>instance_id&nbsp;:&nbsp;{{bsi.instance_id}}</p>-->
                    <!--<label ng-repeat="(key,val) in bsi.quota">{{key+'&nbsp;:&nbsp;'+val}}&nbsp;&nbsp;</label>-->
                  </div>
                  <!--<div class="col-md-2">{{}}</div>-->
                  <div class="col-md-2 lscn" style="text-align: right"><a style="margin-right: 15px;"
                                                                          ng-click="checkInfo(bsi.tenantId,bsi.instanceName)"
                                                                          href="javascript:void(0);">访问信息</a></div>
                </li>
              </ul>
              <div class="page-style" ng-if="grid.bsitotal>10">
                <uib-pagination
                  ng-model="grid.bsipage"
                  total-items="grid.bsitotal"
                  items-per-page="grid.bsisize"
                  class="pagination-sm"
                  boundary-links="true"
                  max-size="12"
                  rotate="true"
                  previous-text="上一页"
                  next-text="下一页"
                  first-text="首页"
                  last-text="末页">
                </uib-pagination>
              </div>
            </li>
            <li>
              <!--资源管理资源管理资源管理-->
              <div class="user-authorize" ng-click="addServe()"><span>添加服务</span></div>
              <div class="resource-wrop" ng-repeat="(timeIndex,item) in sletr">
                <div>
                  <div class="row resource-top">
                    <div class="col-md-10"
                         style="text-align: left;font-size: 16px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;padding:0;">
                      <span ng-class="{'rotate':!item.isshow, 'check-btn': item.isshow}"
                            ng-click="bsiToggle($index)" style="float: left;margin-right:10px;"></span>
                      {{item.serviceName}}
                    </div>
                    <div class="col-md-2" style="text-align: right;font-size: 16px;">
                      <span class="close-btn"
                            ng-click=""></span>
                    </div>
                  </div>
                  <div class="resource-list" ng-repeat="arr in item.servesList" ng-if="item.isshow">
                    <div>
                      <div class="row resource-top" style="padding:10px;">
                        <div class="col-md-10"
                             style="text-align: left;font-size: 16px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;">
                          <span ng-class="{'rotate':!arr.isshow, 'check-btn': arr.isshow}"
                                ng-click="svToggle(timeIndex,$index,arr)" style="float: left;margin-right:10px;">

                          </span>
                          {{arr.instanceName}}
                        </div>
                        <div class="col-md-2" style="text-align: right;font-size: 16px;">
                          <span style="" class="delbsi" ng-click="delbsied(arr.instanceName)">删除</span>
                          <span ng-if="!arr.isde" style="" class="editSv" ng-click="editSv(timeIndex,$index)">编辑</span>
                          <span ng-if="arr.isde" class="editSv" ng-click="saveSv(timeIndex,$index,arr)">保存</span>
                        </div>
                      </div>
                      <div class="list-con" ng-show="arr.isshow">
                        <div class="row" ng-if="arr._attrs.length > 0" style="margin-bottom: 30px;">
                          <label>属性:</label>
                          <div class="row add-myserve" ng-repeat="attr in arr._attrs">
                            <div class="col-md-2">{{attr.key}}</div>
                            <div class="col-md-10">
                              <div class="use-num-wrop">
                                <input class="no-monetary" ng-model="attr.value" type="text" ng-disabled="!arr.isde">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" ng-if="arr.ziyuan.length > 0">
                          <label>配额:</label>
                          <div class="row add-myserve" ng-repeat="ziyuan in arr.ziyuan">
                            <div class="col-md-2" uib-tooltip={{ziyuan.tool}}>{{ziyuan.key}}</div>
                            <div class="col-md-10">
                              <div class="use-num-wrop">
                                <input class="no-monetary" ng-model="ziyuan.value" type="text" ng-disabled="!arr.isde">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="margin:20px 0px;">
                  <botton class="add-instance" ng-click="addser(item.serviceTypeName,item)">添加实例</botton>
                </div>
              </div>
              <!--资源管理资源管理资源管理-->
            </li>
            <li>
              <div class="resource-wrop" ng-repeat="(timeIndex,item) in newServeArrs">
                <div>
                  <div class="row resource-top">
                    <div class="col-md-10">
                      {{item.serviceName}}
                    </div>
                    <div class="col-md-2" style="text-align: right;font-size: 16px;">
                      <span ng-class="{'rotate':!item.isshow, 'check-btn': item.isshow}"
                            ng-click="toggleServe($index)"></span>
                    </div>
                  </div>
                  <div class="resource-list" ng-repeat="arr in item.servesList" ng-if="item.isshow">
                    <div>
                      <div class="row resource-top">
                        <div class="col-md-10">
                          {{arr.instanceName}}
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                          <span ng-class="{'rotate':!arr.isshow, 'check-btn': arr.isshow}"
                                ng-click="toggleServeList(timeIndex,$index,arr)">

                          </span>
                        </div>
                      </div>
                      <div class="list-con" ng-show="arr.isshow">
                        <div class="row tenant_main">
                          <div class="col-md-3 tenant_block" ng-repeat="used in  arr.showused">
                            <div class="used">{{used.used}}</div>
                            <div class="chart-title">{{used.name}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="user-authorize">
                <!--<span ng-click="addBsLimit()">添加服务限定</span>-->
              </div>
              <div class="resource-wrop" ng-repeat="(timeIndex,item) in bsLimit">
                <div>
                  <div class="row resource-top">
                    <div class="col-md-10"
                         style="text-align: left;font-size: 16px;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;padding:0;">
                      <span ng-class="{'rotate':!item.zt.isshow, 'check-btn': item.zt.isshow}"
                            ng-click="limitToggle(timeIndex)" style="float: left;margin-right:10px;"></span>
                      {{timeIndex}}
                    </div>
                    <div class="col-md-2" style="text-align: right;font-size: 16px;">
                      <span ng-if="!item.zt.isde" class="editSv" ng-click="editBsLimit(timeIndex)">编辑</span>
                      <span ng-if="item.zt.isde" class="editSv" ng-click="saveBsLimit(timeIndex,item)">保存</span>
                    </div>
                  </div>
                  <div class="resource-list" ng-if="item.zt.isshow">
                    <div>
                      <div class="list-con">
                        <div class="row add-myserve" ng-repeat="bs in item">
                          <div class="col-md-2">{{bs.key}}</div>
                          <div class="col-md-10">
                            <div class="use-num-wrop">
                              <input class="no-monetary" ng-model="bs.val" type="text" ng-disabled="!item.zt.isde">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li ng-show="isrold">
              <div class="user-authorize" ng-if="!ismember"><span ng-click="userAuthorize()">用户授权</span></div>
              <ul class="tenant-serve-list">
                <li class="row" ng-repeat="item in useritem">
                  <div class="col-md-1"><img src="./images/user-listicon.png" alt=""></div>
                  <div class="col-md-2 tentusername" uib-tooltip="{{item.userName}}" style="white-space: nowrap"><span>用户名</span>&nbsp;&nbsp;{{item.userName}}
                  </div>
                  <div class="col-md-3"><span>用户角色</span>&nbsp;&nbsp;{{item.roleId | phaseFilter}}</div>
                  <div class="col-md-3 tentusername" uib-tooltip="{{item.userDescription}}"><span>用户描述</span>&nbsp;:&nbsp;{{item.userDescription}}
                  </div>

                  <div class="col-md-3" ng-show="item.userName!=='admin'">
                    <a href="javascript:void(0);" ng-show="item.roleId!=='a10170cb-524a-11e7-9dbb-fa163ed7d0ae'"
                       ng-click="looklog(item.userName)">日志</a>
                    <a href="javascript:void(0);" ng-show="item.roleId!=='a10170cb-524a-11e7-9dbb-fa163ed7d0ae'"
                       ng-click="updataUser(item)">修改</a>
                    <a href="javascript:void(0);" ng-click="delUser(item.userId,item.userName)">删除</a>
                  </div>
                </li>
              </ul>
              <div class="page-style" ng-if="grid.usertotal>10">
                <uib-pagination
                  ng-model="grid.userpage"
                  total-items="grid.usertotal"
                  items-per-page="grid.usersize"
                  class="pagination-sm"
                  boundary-links="true"
                  max-size="12"
                  rotate="true"
                  previous-text="上一页"
                  next-text="下一页"
                  first-text="首页"
                  last-text="末页">
                </uib-pagination>
              </div>
            </li>
          </ol>
        </div>
      </td>
    </tr>
  </table>
</div>
